{% extends "base.html" %}
{% load static %}

{% block content %}
<h2> Your Schedules </h2>
<a href="{% url 'new_schedule' %}" ><img src="{% static 'planoma/images/icon-create-schedule.png'%}" alt="Create-icon"/></a>


<h3> Your Schedules</h3>
{% if latest_scheds %}
	<ul>
		{% for sched in latest_scheds %}
			<li>
				<h4>{{ sched.title}}</h4>
				<p> Made on: {{ sched.created_at }}</p>
				<p> Updated on: {{ sched.updated_at }}</p>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<h4>You haven't made any schedules.</h4>
{% endif %}
{% endblock %}