{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <h3>Planoma</h3>
<h4>A Schedule Generator</h4> -->
<div class="banner-wrap">
<div class="wsite-elements wsite-not-footer wsite-header-elements">
    <div class="wsite-section-wrap">
        <div  class="wsite-section wsite-header-section wsite-section-bg-image" style="vertical-align: middle;height: 666px;background-image: url('{% static 'planoma/bg.png' %}') ;background-repeat: no-repeat ;background-position: 50% 50% ;background-size: 100% ;background-color: #4ac3de ;background-size: cover;" >
            <div class="wsite-section-content">
                <div class="container">
                    <div class="banner">
                        <div class="wsite-section-elements">
                            <div class="wsite-spacer" style="height:50px;"></div>
                                <h2 class="wsite-content-title" style="text-align:center;">Planoma.</h2>
                                <div class="wsite-spacer" style="height:30px;"></div>
                                <div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                        {% if user.is_authenticated %}
                                        <span> Welcome back! </span>
                                        {% else %}
                                        <table class="wsite-multicol-table">
                                            <tbody class="wsite-multicol-tbody">
                                                <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                                    <div style="text-align:right;"><div style="height: 10px; overflow: hidden;"></div>
                                                        <a class="wsite-button wsite-button-large wsite-button-highlight" href="{% url 'registration_register' %}" >
                                                            <span class="wsite-button-inner">Sign Up</span>
                                                        </a>
                                                        <div style="height: 10px; overflow: hidden;"></div></div>
                                                </td>
                                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                                    <div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
                                                        <a class="wsite-button wsite-button-large wsite-button-highlight" href="{% url 'auth_login' %}" >
                                                            <span class="wsite-button-inner">Log In</span>
                                                        </a>
                                                        <div style="height: 10px; overflow: hidden;"></div>
                                                    </div>
                                                </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {% endif %}
                                        </div>
                                   		</div>
                            	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--$%$%$%$%$%$%%$%$%$%%$%$%$%$%$%%$%$%$%%$%$% Main $%$%%$%$%$%$%$%$%%$%$%$%%$%$%$%$%$%%$%$%$%%$%$%$%$%$%%$%$%$%
%$%$%$%$%$%%$%$%$%%$%$%$%$%$%%$%$%$%%$%$%$%$%$% Wrapper $%%$%$%$%$%$%%$%$%$%%$%$%$%$%$%%$%$%$%%$%$%$%$%$%%$%$%$%  -->

   <div class="main-wrap">
            <div id="wsite-content" class="wsite-elements wsite-not-footer">
                <div class="wsite-section-wrap">
                    <div class="wsite-section wsite-body-section wsite-background-2 wsite-custom-background">
                        <div class="wsite-section-content">
                            <div class="container">
                                <div class="wsite-section-elements">
                                    <h2 class="wsite-content-title" style="text-align:center;">Create A Schedule</h2>

                                    <div class="wsite-spacer" style="height:50px;"></div>

                                    <div>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -45px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:19.886473233616%; padding:0 45px;">



                                                                <div class="wsite-spacer" style="height:50px;"></div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:60.077505188458%; padding:0 45px;">



                                                                <div class="wsite-spacer" style="height:50px;"></div>

                                                                <div class="wsite-spacer" style="height:10px;"></div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:20.036021577925%; padding:0 45px;">
                                                                <div class="wsite-spacer" style="height:50px;"></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wsite-spacer" style="height:50px;"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wsite-section-wrap">
                    <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-3 wsite-custom-background" style="background-color: #f8f8f8;background-image: none;is_customized: 1;">
                        <div class="wsite-section-content">
                            <div class="container">
                                <div class="wsite-section-elements">
                                    <div class="wsite-spacer" style="height:38px;"></div>

                                    <h2 class="wsite-content-title" style="text-align:center;">Advisor<br /></h2>

                                    <div>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:49.052631578947%; padding:0 15px;">



                                                                <div class="wsite-spacer" style="height:50px;"></div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:50.947368421053%; padding:0 15px;">



                                                                <div class="wsite-spacer" style="height:50px;"></div>



                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wsite-section-wrap">
                    <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-4 wsite-custom-background" style="height: 558px;vertical-align: bottom;background-color: #FFFFFF;background-image: none;is_customized: 1;">
                        <div class="wsite-section-content">
                            <div class="container">
                                <div class="wsite-section-elements">
                                    <div class="wsite-spacer" style="height:50px;"></div>

                                    <h2 class="wsite-content-title" style="text-align:center;">MY SCHEDULES</h2>

                                    <div>
                                        <div class="wsite-multicol">
                                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                <table class="wsite-multicol-table">
                                                    <tbody class="wsite-multicol-tbody">
                                                        <tr class="wsite-multicol-tr">
                                                            <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">



                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                                                        <a>
                                                                            <img src="planoma/templates/uploads/498115425.jpg" alt="Picture" style="width:auto;max-width:100%" />
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>

                                                                <h2 class="wsite-content-title" style="text-align:center;"><font size="5">&#8203;Schedule One</font></h2>

                                                                <div class="paragraph" style="text-align:center;">September 14, 2016</div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">



                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-none " style="padding-top:30px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
                                                                        <a>
                                                                            <img src="uploads/273319276.jpg" alt="Picture" style="width:auto;max-width:100%" />
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>

                                                                <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Schedule 2</font></h2>

                                                                <div class="paragraph" style="text-align:center;"><span>August 21, 2016</span>
                                                                </div>



                                                            </td>
                                                            <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">



                                                                <div>
                                                                    <div class="wsite-image wsite-image-border-none wsite-image-border-black" style="padding-top:30px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
                                                                        <a>
                                                                            <img src="uploads/668812516.jpg" alt="Picture" style="width:auto;max-width:100%" />
                                                                        </a>
                                                                        <div style="display:block;font-size:90%"></div>
                                                                    </div>
                                                                </div>

                                                                <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Schedule 3</font><br /></h2>

                                                                <div class="paragraph" style="text-align:center;"><span>July 30, 2016</span>
                                                                </div>



                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wsite-spacer" style="height:50px;"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wsite-section-wrap">
                    <div class="wsite-section wsite-body-section wsite-section-bg-image wsite-background-7 wsite-custom-background" style="background-image: url('{% static 'planoma/bg.png' %}') ;background-repeat: no-repeat ;background-position: undefined undefined ;background-size: 100% ;background-color: transparent ;background-size: cover;">
                        <div class="wsite-section-content">
                            <div class="container">
                                <div class="wsite-section-elements">
                                    <div class="wsite-spacer" style="height:26px;"></div>

                                    <h2 class="wsite-content-title" style="text-align:center;"><font color="#ffffff">Thanks For visting</font></h2>

                                    <div class="paragraph" style="text-align:center;"><font color="#ffffff"><font size="5">More Stuff</font></font>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div> 


{% endblock %}