{% extends "base.html" %}
{% load static %}
{% load template_extras %}

{% block content %}
<!-- <h3>Planoma</h3>
<h4>A Schedule Generator</h4> -->
<div class="banner-wrap">
    <div class="wsite-elements wsite-not-footer wsite-header-elements">
        <div class="wsite-section-wrap">
            <div class="wsite-section wsite-header-section wsite-section-bg-image"
            style="vertical-align: middle;background-image: url('{% static 'planoma/bg.png' %}') ;background-repeat: no-repeat ;background-position: 100% 100% ;
            background-size: 100% ;background-color: #31c3dd;height:100%; overflow:hidden" >
                <div class="wsite-section-content">
                    <div class="container">
                        <div class="banner">
                            <div class="wsite-section-elements">
                                <div class="wsite-spacer" style="height:50px;height:100%; overflow:hidden"></div>
                                <h2 class="wsite-content-title" style="text-align:center;">Planoma.</h2>

                                <!-- <div class="wsite-spacer" style="height:-100px;"></div> -->
                                <div class="wsite-section-wrap">
                                    <div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-4 wsite-custom-background"
                                    style="height: 58px;vertical-align: bottom;background-color: #31c3dd;background-image: none;is_customized: 1;">
                                        <div class="wsite-section-content">
                                            <div class="container">
                                                <div class="wsite-section-elements">
                                                    <!-- <div class="wsite-spacer" style="height:-200px;"></div> -->
                                                    <div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                        {% if user.is_authenticated %}
                                                        {% if messages %}
                                        								  <ul class="messages">
                                        								    {% for message in messages %}
                                        								      <li class="{{ message.tags }}">{{ message }}</li>
                                        								    {% endfor %}
                                        								  </ul>
                                        								{% endif %}
                                                        <div><div class="wsite-multicol">
                                                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                                                <table class="wsite-multicol-table">
                                                                    <tbody class="wsite-multicol-tbody">
                                                                        <tr class="wsite-multicol-tr">
                                                                            <td class="wsite-multicol-col" style="width:25%;">
                                                                            </td>
                                                                            {% if request.user|has_group:"Students" %}
                                                                                <td class="wsite-multicol-col" style="width:25%;">
                                                                                    <a href="{% url 'new_schedule' %}" ><img src="{% static 'planoma/images/schedules/icon-create-schedule.png'%}" alt="Create-icon"/></a> <br> Create
                                                                                </td>
                                                                                <td class="wsite-multicol-col" style = "width:25%;">
                                                                                    <a href="{% url 'my_schedules' %}" ><img src="{% static 'planoma/images/schedules/icon-view-schedule.png'%}" alt="View-icon"/></a><br> View
                                                                                </td>
                                                                                <td class="wsite-multicol-col" style="width:25%;">
                                                                                </td>
                                                                            {% elif request.user|has_group:"Advisors" %}
                                                                                <td class="wsite-multicol-col" style="width:25%;">
                                                                                    <a href="{% url 'advisees' %}" ><img src="{% static 'planoma/images/advisors/icon-advisees.png'%}" alt="Advisee-icon"/></a> <br> View Advisees
                                                                                </td>
                                                                                <td class="wsite-multicol-col" style = "width:25%;">
                                                                                    <a href="{% url 'course_new' %}" ><img src="{% static 'planoma/images/advisors/icon-add-course.png'%}" alt="Add-icon"/></a><br> Add Course
                                                                                </td>
                                                                                <td class="wsite-multicol-col" style="width:25%;">
                                                                                </td>
                                                                            {% else %}
                                                                            <table class="wsite-multicol-table">
                                                                                <tbody class="wsite-multicol-tbody">
                                                                                    <tr class="wsite-multicol-tr">
                                                                                        <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                                                                            <div style="text-align:right;"><div style="height: 10px; overflow: hidden;"></div>
                                                                                            <a class="wsite-button wsite-button-large wsite-button-highlight" href="{% url 'registration_register' %}" >
                                                                                                <span class="wsite-button-inner">Sign Up</span>
                                                                                            </a>
                                                                                            <div style="height: 10px; overflow: hidden;"></div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                                                                        <div style="text-align:left;">
                                                                                            <div style="height: 10px; overflow: hidden;"></div>
                                                                                            <a class="wsite-button wsite-button-large wsite-button-highlight" href="{% url 'auth_login' %}" >
                                                                                                <span class="wsite-button-inner">Log In</span>
                                                                                            </a>
                                                                                            <!-- <div style="height: 100px; overflow: hidden;"></div> -->
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                            {% endif %}
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="wsite-spacer" style="height:50px;"></div> -->
                                {% else %}
                                <table class="wsite-multicol-table">
                                    <tbody class="wsite-multicol-tbody">
                                        <tr class="wsite-multicol-tr">
                                            <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                                <div style="text-align:right;"><div style="height: 10px; overflow: hidden;"></div>
                                                <a class="wsite-button wsite-button-large wsite-button-highlight" href="{% url 'registration_register' %}" >
                                                    <span class="wsite-button-inner">Sign Up</span>
                                                </a>
                                                <div style="height: 10px; overflow: hidden;"></div>
                                            </div>
                                        </td>
                                        <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                            <div style="text-align:left;">
                                                <div style="height: 10px; overflow: hidden;"></div>
                                                <a class="wsite-button wsite-button-large wsite-button-highlight" href="{% url 'auth_login' %}" >
                                                    <span class="wsite-button-inner">Log In</span>
                                                </a>
                                                <div style="height: 140px; overflow: hidden;"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- <div class="wsite-spacer" style="height:320px;"></div> -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-4 wsite-custom-background"
  style="height: 1px;vertical-align: bottom;background-color: #31c3dd;background-image: none;is_customized: 1;">
		<div class="wsite-section-content">
			<div class="container">
				<div class="wsite-section-elements">
					<div class="wsite-spacer" style="height:10px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
