{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
	<div class="banner-wrap">
	<div class="wsite-elements wsite-not-footer wsite-header-elements">
		<div class="wsite-section-wrap">
			<div class="wsite-section wsite-header-section wsite-section-bg-image" style="vertical-align: middle;background-image: url('{% static 'planoma/bg.png' %}') ;background-repeat: no-repeat ;background-position: 100% 100% ;background-size: 100% ;background-color: #31c3dd;height:100%; overflow:hidden" >
				<div class="wsite-section-content">
					<div class="container">
						<div class="banner">
							<div class="wsite-section-elements">
								<div class="wsite-spacer" style="height:50px;height:100%; overflow:hidden"></div>
								<h2 class="wsite-content-title" style="text-align:center;"><br>Update Profile</h2>

								<!-- <div style="text-align:left;"> -->
									<form method="POST" class="update-form">{% csrf_token %}
										{{ user_form.as_p }}
										{{ prof_form.as_p }}
										<br><br>
										<div class="wsite-button wsite-button-large wsite-button-highlight">
											<button class="wsite-button-inner save btn" type="submit">Save </button>
										</div>
										<!-- <button type="submit" class="save btn">Save</button> -->
									</form>
								<!-- </div> -->


								<div class="wsite-spacer" style="height:250px;"></div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}