{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="banner-wrap">
    <div class="wsite-elements wsite-not-footer wsite-header-elements">
        <div class="wsite-section-wrap">
            <div class="wsite-section wsite-header-section wsite-section-bg-image" style="vertical-align: middle;height: 666px;background-image: url('{% static 'planoma/bg.png' %}') ;background-repeat: no-repeat ;background-position: 50% 50% ;background-size: 100% ;background-color: #4ac3de ;background-size: cover;">
                <div class="wsite-section-content">
                    <div class="container">
                        <div class="banner">
                            <div class="wsite-section-elements">
                                <h2 class="wsite-content-title" style="text-align:center;">Log In</h2>
                            	<form method="post" action=".">
                            		{% csrf_token %} 
                            		{{ form.as_p }}
                            		<input type="submit" value="Log in" />
                            		<input type="hidden" name="next" value="{{ next }}" />
                            	</form>

                            	<p>Forgot password? <a href="{% url 'auth_password_reset' %}">Reset it</a>!</p>
                            	<p>Not member? <a href="{% url 'registration_register' %}">Register</a>!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
