{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="banner-wrap">
<div class="wsite-elements wsite-not-footer wsite-header-elements">
    <div class="wsite-section-wrap">
        <div class="wsite-section wsite-header-section wsite-section-bg-image" style="vertical-align: middle;background-image: url('{% static 'planoma/bg.png' %}') ;background-repeat: no-repeat ;background-position: 100% 100% ;background-size: 100% ;background-color: #4ac3de;height:100%; overflow:hidden" >
            <div class="wsite-section-content">
                <div class="container">
                    <div class="banner">
                        <div class="wsite-section-elements">
                            <div class="wsite-spacer" style="height:50px;height:100%; overflow:hidden"></div>
                                <h2 class="wsite-content-title" style="text-align:center;">Schedule View</h2>
                                <div class="wsite-spacer" style="height:30px;"></div>
                                Title: {{ title }}
                                <div class="wsite-multicol">
                                    <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                        <table class="wsite-multicol-table">
                                            <tbody class="wsite-multicol-tbody">
                                                <tr class="wsite-multicol-tr">
                                                    <!-- <td class="wsite-multicol-col" style="width:10%; padding:0 15px;"></td> -->
                                                    <div style="text-align:left;">
                                                      {% for session in sessions %}
                                                      {% if session.term != 4747 and session.term != 4848 %}
                                                      <td class="wsite-multicol-col" style="width:30%; padding:0 15px;background-color: #f4df42;border-radius: 25px;">
                                                        <h4>{{ session.get_semester_display }} {{ session.term }}</h4>
                                                        <div style="text-align:left;">
                                                          {% for course in session.courses.all %}
                                                            {{ course.course_name }}
                                                            <hr>
                                                            {% endfor %}
                                                          </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                      </td>
                                                      <td class="wsite-multicol-col" style="width:5%; padding:0 15px;"></td>
                                                    </div>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

	<!-- TODO EDIT THE ORDER OF THE SCHEDULE Semesters -->
{% endblock %}
