{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="banner-wrap">
<div class="wsite-elements wsite-not-footer wsite-header-elements">
		<div class="wsite-section-wrap">
				<div class="wsite-section wsite-header-section wsite-section-bg-image"
				style="vertical-align: middle;background-image: url('{% static 'planoma/bg.png' %}') ;
				background-repeat: no-repeat ;background-position: 100% 100% ;background-size: 100% ;background-color: #31c3dd;height:100%;
				overflow:hidden" >
						<div class="wsite-section-content">
								<div class="container">
										<div class="banner">
												<div class="wsite-section-elements">
														<div class="wsite-spacer" style="height:40px;height:100%; overflow:hidden"></div>
																<h2 class="wsite-content-title" style="text-align:center;">Schedule Creator</h2>
																<div class="wsite-spacer" style="height:30px;"></div>
																<div class="wsite-multicol">
																		<div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
																				<table class="wsite-multicol-table">
																						<tbody class="wsite-multicol-tbody">
																								<tr class="wsite-multicol-tr">
																										<td class="wsite-multicol-col" style="width:20%; padding:0 15px;"></td>
																										<td class="wsite-multicol-col" style="width:60%; padding:0 15px;background-color: #31c3dd;">
																												<div style="text-align:left;">
																													<form method="POST" class="schedule-form">
																														{% csrf_token %}
																														{{ firstForm.as_p }}
																														<div class="wsite-button wsite-button-large wsite-button-highlight">
																															<input class="wsite-button-inner" type="submit" value="Submit" />
																														</div>
																													</form>
																												</div>
																										</td>
																										<td class="wsite-multicol-col" style="width:20%; padding:0 15px;"></td>
																								</tr>
																						</tbody>
																				</table>
																				{% if messages %}
																				{% for message in messages %}
																				<h3>{{ message }}</h3>
																				{% endfor %}
																				{% endif %}
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-4 wsite-custom-background"
  style="height: 6px;vertical-align: bottom;background-color: #31c3dd;background-image: none;is_customized: 1;">
		<div class="wsite-section-content">
			<div class="container">
				<div class="wsite-section-elements">
					<div class="wsite-spacer" style="height:6px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
